body{
    background-color: hsl(221, 100%, 96%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: "Hanken Grotesk";
    padding: 1rem;
}

.container{
    display: flex;
    background-color: hsl(0, 0%, 100%);
    border-radius: 20px;
    border: 1px solid;
    max-width: 600px;
    width: 100%;
    margin: auto;
}

.container__section{
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
}

.container__result{
    background: linear-gradient(hsla(256, 72%, 46%, 1), hsla(241, 72%, 46%, 0));
    border-radius: 50%;
    width: 10rem;
    height: 9rem;
    color: hsl(0, 0%, 100%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container__number{
    font-size: 80px;
    font-weight: bold;
}

.container__list{
    display: flex;

}

.section--result{
    background: linear-gradient(hsl(252, 100%, 67%), hsl(241, 81%, 54%));
    width: 50%;
    border-radius: 20px;
}

.section--habilities{
    width: 50%;
    display: flex;
    flex-direction: column;
}

.list__item{
    display: flex;
    margin: 8px;
    justify-content: space-between;
    padding: 0.6rem;
    border-radius: 10px;
    width: 70%;
}

.list__habilities{
    display: flex;
    flex-direction: column;
    list-style: none;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
    padding: 0;
}

.text__congratulation{
    color: hsl(0, 0%, 100%);
    font-size: 30px;
    margin-bottom: 0;
    font-weight: bold;
}

.header__result{
    color: hsl(241, 100%, 89%);
}

small{
    margin: 0 auto;
}

.text__description{
    text-align: center;
    padding: 0 40px 10px 40px;
    color: hsl(241, 100%, 89%);
}

.item--reaction{
    background-color: hsla(0, 100%, 67%, 0.070);
    
}

.item--memory{
    background-color: hsla(39, 100%, 56%, 0.070);
}

.item--verbal{
    background-color: hsla(166, 100%, 37%, 0.070);
}

.item--visual{
    background-color: hsla(234, 85%, 45%, 0.070);
}

.text__reaction{
    color: hsl(0, 100%, 67%, 0.700);;
}

.text__memory{
    color: hsla(39, 100%, 56%, 0.700);;
}

.text__verbal{
    color: hsla(166, 100%, 37%, 0.700);
}

.text__visual{
    color: hsla(234, 85%, 45%, 0.700);
}

.score{
    color: hsla(224, 30%, 27%, 0.637);;
}

img{
    height: 20px;
}

.habilities__header{
    padding-right: 8rem;
    margin-bottom: 0;
}

nav{
    width: 70%;
    display: flex;
    justify-content: center;
    
}

button{
    padding: 0.8rem;
    width: 100%;
    background: linear-gradient(hsl(252, 100%, 67%), hsl(241, 81%, 54%));
    border-radius: 20px;
    color: hsl(0, 0%, 100%);
    border: none;
    cursor: pointer;
}

@media (max-width: 768px){
    .container{
        flex-direction: column;
        width: 90%;
        height: auto;
        margin: 2rem auto;
    }

    .section--result, .section--habilities{
        width: 100%;
        padding: 2rem 1rem;
    }

    .container__result{
        width: 140px;
        height: 140px;
    }

    .list__item{
        width: 80%;
        justify-content: space-between;
        padding: 0.6rem;
    }

    nav{
        width: 80%;
        display: flex;
        justify-content: center;
        margin-bottom: 1rem;
    }

    button{
        padding: 0.6rem;

    }
}